<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crash light</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="container">

    <div class="container title">
        <h1>Super amazing crash clone!</h1>
    </div>

    <div class="row main-area">
        <!-- Left side -->
        <div class="col-sm">
            <div class="row">
                <h4>Leaderboard</h4>
            </div>
            <div class="leaderboard">
                <div class="row justify-content-start">
                    <div id="first-place-icon" class="col-2"><i class="fas fa-trophy"></i></div>
                    <div id="first-place-name" class="col-6"></div>
                    <div id="first-place-score" class="col-2"></div>
                </div>
                <div class="row">
                    <div id="second-place-icon" class="col-2"><i class="fas fa-medal"></i></div>
                    <div id="second-place-name" class="col-6"></div>
                    <div id="second-place-score" class="col-2"></div>
                </div>
                <div class="row">
                    <div id="third-place-icon" class="col-2"><i class="fas fa-award"></i></div>
                    <div id="third-place-name" class="col-6"></div>
                    <div id="third-place-score" class="col-2"></div>
                </div>
            </div>

            <!-- Game settings -->
            <div class="row space"></div>
            <div class="row space"></div>
            <div class="row">
                <h4>Settings <i class="fas fa-cog fa-sm toggle-settings"></i></h4>
            </div>

            <div id="settings" class="settings-hidden">
                <!-- Map size -->
                <div class="row">
                    <h6>Map size</h6>
                </div>
                <div class="row btn-group btn-group-toggle settings-buttons map-size-group" data-toggle="buttons" role="group" aria-label="Map size">
                    <label class="btn btn-dark">
                        <input type="radio" name="map-size" id="map-size-S" checked value=0> <i class="far fa-circle fa-xs"></i>
                    </label>
                    <label class="btn btn-dark active">
                        <input type="radio" name="map-size" id="map-size-M" checked value=1> <i class="fas fa-dot-circle fa-sm"></i>
                    </label>
                    <label class="btn btn-dark">
                        <input type="radio" name="map-size" id="map-size-L" checked value=2> <i class="fas fa-circle"></i>
                    </label>
                </div>

                <!-- Game speed -->
                <div class="row space"></div>
                <div class="row">
                    <h6>Game speed</h6>
                </div>
                <div class="row btn-group btn-group-toggle settings-buttons game-speed-group" data-toggle="buttons" role="group" aria-label="Game speed">
                    <label class="btn btn-dark">
                        <input type="radio" name="game-speed" id="game-speed-slow" checked value=0> <i class="far fa-snowflake"></i>
                    </label>
                    <label class="btn btn-dark active">
                        <input type="radio" name="game-speed" id="game-speed-normal" checked value=1> <i class="fas fa-cloud"></i>
                    </label>
                    <label class="btn btn-dark">
                        <input type="radio" name="game-speed" id="game-speed-fast" checked value=2> <i class="fas fa-sun"></i>
                    </label>
                </div>

                <!-- AI -->
                <div class="row space"></div>
                <div class="row">
                    <h5>AI difficulty</h5>
                </div>

                <div class="row space"></div>
                <div class="row">
                    <h6>Pruttfia</h6>
                </div>
                <div class="row btn-group btn-group-toggle settings-buttons difficulty-pruttfia-group" data-toggle="buttons" role="group" aria-label="Difficulty">
                    <label class="btn btn-dark">
                        <input type="radio" name="difficulty-pruttfia" id="difficulty-pruttfia-easy" checked value=0> <i class="fas fa-baby"></i>
                    </label>
                    <label class="btn btn-dark active">
                        <input type="radio" name="difficulty-pruttfia" id="difficulty-pruttfia-medium" checked value=1> <i class="fas fa-child"></i>
                    </label>
                    <label class="btn btn-dark">
                        <input type="radio" name="difficulty-pruttfia" id="difficulty-pruttfia-hard" checked value=2> <i class="fas fa-skull-crossbones"></i>
                    </label>
                </div>

                <div class="row space"></div>
                <div class="row">
                    <h6>Doomsday</h6>
                </div>
                <div class="row btn-group btn-group-toggle settings-buttons difficulty-doomsday-group" data-toggle="buttons" role="group" aria-label="Difficulty">
                    <label class="btn btn-dark">
                        <input type="radio" name="difficulty-doomsday" id="difficulty-doomsday-easy" checked value=0> <i class="fas fa-baby"></i>
                    </label>
                    <label class="btn btn-dark active">
                        <input type="radio" name="difficulty-doomsday" id="difficulty-doomsday-medium" checked value=1> <i class="fas fa-child"></i>
                    </label>
                    <label class="btn btn-dark">
                        <input type="radio" name="difficulty-doomsday" id="difficulty-doomsday-hard" checked value=2> <i class="fas fa-skull-crossbones"></i>
                    </label>
                </div>

                <div class="row space"></div>
                <div class="row">
                    <h6>Söteknorr</h6>
                </div>
                <div class="row btn-group btn-group-toggle settings-buttons difficulty-soteknorr-group" data-toggle="buttons" role="group" aria-label="Difficulty">
                    <label class="btn btn-dark">
                        <input type="radio" name="difficulty-soteknorr" id="difficulty-soteknorr-easy" checked value=0> <i class="fas fa-baby"></i>
                    </label>
                    <label class="btn btn-dark active">
                        <input type="radio" name="difficulty-soteknorr" id="difficulty-soteknorr-medium" checked value=1> <i class="fas fa-child"></i>
                    </label>
                    <label class="btn btn-dark">
                        <input type="radio" name="difficulty-soteknorr" id="difficulty-soteknorr-hard" checked value=2> <i class="fas fa-skull-crossbones"></i>
                    </label>
                </div>
            </div>
        </div>
        
        <!-- Canvas -->
        <div class="col-sm">
            <canvas id="gameCanvas"></canvas>
        </div>

        <!-- Console -->
        <div class="col-sm">
            <div id="chat-box" class="overflow-auto">
                <div id="chat-box-text" class="overflow-hidden"></div>
            </div>
        </div>
    </div>

    <!-- Div for controls -->
    <div class="container controls">
        <div class="row">
            <div class="col-sm">
                <div class="row">
                    <div class="col-sm key">
                        <button class="btn btn-light shadow-none"><i class="fa fa-arrow-up"></i></button>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-2 key">
                        <button class="btn btn-light shadow-none"><i class="fa fa-arrow-left"></i></button>
                    </div>
                    <div class="col-2 key">
                        <button class="btn btn-light shadow-none"><i class="fa fa-arrow-down"></i></button>
                    </div>
                    <div class="col-2 key">
                        <button class="btn btn-light shadow-none"><i class="fa fa-arrow-right"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="row">
                    <div class="col-sm key">
                        <button class="btn btn-light shadow-none">W</button>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-2 key">
                        <button class="btn btn-light shadow-none">A</button>
                    </div>
                    <div class="col-2 key">
                        <button class="btn btn-light shadow-none">S</button>
                    </div>
                    <div class="col-2 key">
                        <button class="btn btn-light shadow-none">D</button>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="row">
                    <div class="col-2 key">
                        <button class="btn btn-light shadow-none">N</button>
                    </div>
                    <div class="col-sm">
                        <h5>New game 1 player</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 key">
                        <button class="btn btn-light shadow-none">M</button>
                    </div>
                    <div class="col-sm">
                        <h5>New game 2 players</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm"><h3>Player 1</h3></div>
            <div class="col-sm"><h3>Player 2</h3></div>
            <div class="col-sm"></div>
        </div>

        <h3 id=textBox></h3>
    </div>

    </div>

    <script type="module" src="/scripts/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>