<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crash light</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="container">
        <h1>Super amazing crash clone (demo)!</h1>
    </div>
    <canvas id="gameCanvas"></canvas>
    <div class="container">
        <h2>Control player 1 with arrows. Control player 2 with WASD.</h2>
        <h2>Start a 1 player game with "n" and a 2 player game with "m"</h2>
        <h3 id=textBox></h3>
    </div>

    <script type="module" src="/scripts/script.js"></script>
</body>
</html>