body{
    background-color: #3F4859;
    color: #FFFFFF;
}

div{
    margin: auto;
}

.title{
    margin-top: 15px;
}

.main-area > .col-sm{
    margin: 2px;
    padding: 0;
}

#chat-box{
    background-color: rgba(1, 1, 3, 0.226);
    height: 600px;
    width: 100%;
    position: relative;
}

#chat-box-text{
    position: absolute;
    bottom: 0;
    margin: 4px;
    font-weight: 400;
    font-size: 12px;
    color: rgb(204,204,0);
}

h1, h2, h3{
    text-align: center;
}

h5{
    margin: 0;
    color: #FFFFFF;
    font-weight: bold;
}

.controls{
    width: 800px;
    margin-top: 20px;
}

.key{
    text-align: center;
    margin: 0;
    padding: 0;
}

.btn-light{
    width: 42px;
    height: 42px;
    padding: 0;
    font-weight: bold;
    margin: 2px 0;
}

.btn-light:active, .btn-light:focus{
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

#gameCanvas{
    background-color: #0C0D0B;
    margin: auto;
    display: block;
}

.leaderboard > div > div {
    margin: 0;
    padding: 0;
}
#first-place-icon{
    color: #FFD700;
}
#second-place-icon{
    color: #C0C0C0;
}
#third-place-icon{
    color: #CD7F32;
}

.space{
    padding-top: 10px;
}

.toggle-settings:hover{
    color: rgb(175, 180, 196)
}
#settings{
    -webkit-transition: opacity 600ms, visibility 600ms;
    transition: opacity 600ms, visibility 600ms;
}
.settings-hidden{
    visibility: hidden;
    opacity: 0;
}
.settings-buttons {
    width: 100%;
}